Source: vplants-weberpenn
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools (>= 0.6b3), debhelper (>= 7),  python-openalea.deploy, python-openalea.sconsx


Package: python-vplants.weberpenn
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-vplants.plantgl, python-openalea, python-openalea.mtg
Provides: ${python:Provides}
Description: Implementation of the tree model published by Weber and Penn, 95
  This model is based on the Weber and Penn model. It is extended to generate 
  MTG datastructure and Markov chains as generator.

